/*Logo*/
*
{
    font-family: "Rajdhani", sans-serif;
    
}
a {
  text-decoration: none;
}
.LogoCon
{
    width: 100%;
    height: 142px;

    text-align: center;
}

.navbar-toggler {
    background-color: #d7d7d8;
}
 
.logo {
width: 100px;
height: 100px;
  }
.navbar-main{
background-color: #2f2f2f;
left: 0px;
top: 0px;
}

/*nft container*/
.nftcon
{
    align-items: left;
    justify-content: left;
    
}
.container-grid
{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
    gap: 1.25rem;
}
.text-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-text
{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding-left: 2%;
    text-align: left;
}
.top-text-2
{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding-left: 2%;
    text-align: right;
}
.button-discover{
  background: linear-gradient(44.73deg, #7C7C7C 11.32%, #4E4E4E 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

/*card*/
.card
{
    width: 270px;
    height: 370px;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imgcon
{
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.cubeName
{
    width: 93%;
    height: 20px;
    background-color: #FFFFFF;
    align-items: center;
    padding-left: 20px;
}

.name
{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #28282D;

    background-color: #FFFFFF;
    font-style: normal;
}
.desname
{
    font-size: 16px;
    color: #5E5E63;
    background-color: #FFFFFF ;
    width: 100%;
    font-weight: 600;
}

.heart
{
    height: 18px;
    width: 20px;
    margin-left: 40px;
}

.iconq
{
    height: 20px;
    margin-left: 7px;
    width: 18px;
}

.iconsol
{
    height: 30px;
    
    width: 28px;
}


.buy
{
    color: #28282D;
    padding-left: 45px;
    background-color: #FFFFFF;
}
.exchange{
    width: 100%;
    height: 514px;
}
.exchange-title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}
.exchang-title-2{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.exchange-container{
    display: flex;
    justify-content: center;
    
}
.first-exchange-container{
    background: linear-gradient(125.75deg, #9945FF 0%, #14F195 98.3%);
    border-radius: 10px 0px 0px 10px;  
    width: 513px;
    height: 259px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-exchange-container{
    background: linear-gradient(126.88deg, #010101 0%, #5E5E63 100%);
  border-radius: 0px 10px 10px 0px;
  width: 512px;
  height: 259px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exchange-text{
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  text-align: center;

  color: #FFFFFF;

}
.exchange-arrow{
 position: absolute;
 z-index: 10;
 top: 40%;
}
.exchange-input{
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #69696B;
  width: 211px;
  height: 32px;
}
.links{
    text-decoration: none !important;
    color: #000000 !important;
}
.nav-item {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #d7d7d8;
  }
.info-container{
    justify-content: center;

}
.info-content{
    width: 100%;
    height: auto;
    background: linear-gradient(93.03deg, #000000 0%, #5E5E63 100%);
}
.content{
    width: 80%;
    height: 80%;
    text-align: left;
}
.content-questions{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}
.content-text{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}
footer {
    margin-top: auto;
  }
  .footer-icon {
    width: 1rem;
    height: 1rem;
  }
  .flink-icon {
    color: dark;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .footer-icon {
      margin-top: 1rem;
    }
  }
  @media (min-width: 992px) {
    .footer-icon {
      margin-top: 1rem;
    }
  }
  .footer-text {
    text-align: left;
    size: 18px;
    color: white;
    margin-top: 25px;
  }
  .footer-logo {
    float: left;
    padding: 0 20px 20px 0;
    height: 155px;
  }
  .list {
    list-style: none;
    display: inline-block;
    text-align: left;
  }
  .link {
    text-align: center;
  }
  .footer-text-2 {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  @media (min-width: 310px) {
    .footer-text-2 {
      text-align: center;
    }
  }
  @media (min-width: 576px) {
    .footer-text-2 {
      text-align: center;
    }
  }
  @media (min-width: 768px) {
    .footer-text-2 {
      text-align: center;
    }
  }
  @media (min-width: 992px) {
    .footer-text-2 {
      text-align: center;
    }
  }
  @media (min-width: 1200px) {
    .footer-text-2 {
      padding-left: 15px;
      text-align: left;
    }
  }
  @media (min-width: 1400px) {
    .footer-text-2 {
      padding-left: 15px;
      text-align: left;
    }
  }







  /*Dito yung sa Buy NFT*/



  .imgContainter
  {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 1px solid #EBEBEB;
    text-align: center;
    
  
  }

  .nftimg
  {
    width: 520px;
    height: 520px;
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .nft-content-con
  {
    width: 100%;
    height: 554px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: left;
    text-align: left;
  
  }

  .nftname
  {
    font-size: 48px;
    font-weight: 600;

  }


  .sub-nfttxt
  {
    font-size: 16px;

  }

  .sub-nfttxt1
  {
    font-size: 20px;

  }

  .sub-nfttxt2
  {
    font-size: 16px;
    margin-top: 33px;

  }



  .nft-icons
{
    height: 18px;
    width: 20px;
  
}


.nft-button {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8;
  margin-left: 20px;
}
.showcase {
  background-color: #2f2f2f;
}
.carousel-item img {
  height: 50vh !important;
  margin: auto !important;
  opacity: 0.3 !important;
}
.carousel-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 466px !important;
  color: #ffffff;
  margin: auto;
}
.carousel-item h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;

  color: #ffffff;
}
.carousel-item {
  background-color: #4d4d4d;
}
.carousel-caption {
  color: black !important;
  text-align: center !important;
  top: 30% !important;
  transform: translateY(-50%) !important;
  bottom: 50% !important;
}
#carouselExampleCaptions > .carousel-indicators [data-bs-target] {
  height: 10px !important;
  width: 10px !important;
  background-color: #9d9d9d;
}
#carouselExampleCaptions > .carousel-indicators > .active {
  background-color: white;
}
.carousel-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35.73px;
  color: #5a5a5a;
  text-align: left;
}
.footbar-btn {
  text-align: center;
}
.footbar-button {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8 !important;
}
.footbar-button:hover {
  color: #ffffff;
}
.exchange-button {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 333px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8 !important;
  text-align: left!important;
}
.exchange-button:hover {
  color: #ffffff;
}
.exchange-button-more {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 333px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8 !important;
}
.exchange-button-more:hover {
  color: #ffffff;
}
.wallet-icons{
  margin-left: 5rem;
  margin-right: 1rem;
}

.imgNFT
{
  height: 230px;
  width: 230px;
}